# macOS
.DS_Store
__MACOSX/

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xcuserdatad/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/

# IDE
.idea/
.vscode/
*.swp
